In [1]:
import pandas as pd

In [2]:
# Dictionary to DataFrame
details1 = {
  'name' : ['Aman','Gupta','Sundar', 'Jethalal','Bhide'],
  'age' : [25,30,21,45,20],
  'address' :['India', 'China','Amedabad','Mumbai','Ranapark']
}
print(details1)
# print(pd.DataFrame(details1).transpose())
print(pd.DataFrame(details1).sort_values(by='age'))

{'name': ['Aman', 'Gupta', 'Sundar', 'Jethalal', 'Bhide'], 'age': [25, 30, 21, 45, 20], 'address': ['India', 'China', 'Amedabad', 'Mumbai', 'Ranapark']}
       name  age   address
4     Bhide   20  Ranapark
2    Sundar   21  Amedabad
0      Aman   25     India
1     Gupta   30     China
3  Jethalal   45    Mumbai

In [3]:
# List of Lists to DataFrame (each sublist is a row)
details2 = [
  ['Aman','Gupta','Sundar', 'Jethalal','Bhide'],
  [25,30,21,45,20],
  ['India', 'China','Amedabad','Mumbai','Ranapark']]
print(details2)
df2 = pd.DataFrame(details2).transpose()
print(df2)
df2.columns = ['Names','Ages', 'Location']
print(df2)
print(df2.dtypes)

[['Aman', 'Gupta', 'Sundar', 'Jethalal', 'Bhide'], [25, 30, 21, 45, 20], ['India', 'China', 'Amedabad', 'Mumbai', 'Ranapark']]
          0   1         2
0      Aman  25     India
1     Gupta  30     China
2    Sundar  21  Amedabad
3  Jethalal  45    Mumbai
4     Bhide  20  Ranapark
      Names Ages  Location
0      Aman   25     India
1     Gupta   30     China
2    Sundar   21  Amedabad
3  Jethalal   45    Mumbai
4     Bhide   20  Ranapark
Names       object
Ages        object
Location    object
dtype: object

In [4]:
# List of lists to DataFrame
details3 = [
    ['Biden', 95, 'Alabama'],
    ['Trump', 63, 'Alaska'],
    ['Modi', 45, 'New York'],
    ['Putin', 47, 'New Jersey']
]
df = pd.DataFrame(details3, columns=['name', 'marks', 'city'])
df.columns =['name', 'marks', 'city']
print(df)

    name  marks        city
0  Biden     95     Alabama
1  Trump     63      Alaska
2   Modi     45    New York
3  Putin     47  New Jersey

In [5]:
# List of tuples to DataFrame
import pandas as pd
details4 = [
  ('Biden', 95, 'Alabama'),
  ('Putin', 47, 'New Jersey'),
  ('Trump', 63, 'Alaska',),
  ('Modi', 45, 'New York')
]
print(details4)
df4 = pd.DataFrame(details4, columns=('Name','Age','Home'))
print(df4)

[('Biden', 95, 'Alabama'), ('Putin', 47, 'New Jersey'), ('Trump', 63, 'Alaska'), ('Modi', 45, 'New York')]
    Name  Age        Home
0  Biden   95     Alabama
1  Putin   47  New Jersey
2  Trump   63      Alaska
3   Modi   45    New York

In [6]:
# Tuple of tuples to DataFrame
import pandas as pd
details5 = (
  ('Biden', 95, 'Alabama'),
  ('Putin', 47, 'New Jersey'),
  ('Trump', 63, 'Alaska',),
  ('Modi', 45, 'New York')
)
print(details5)
df4 = pd.DataFrame(details5, columns=('Name','Age','Home'))
df4.set_index('Name',inplace=True)
print(df4)

(('Biden', 95, 'Alabama'), ('Putin', 47, 'New Jersey'), ('Trump', 63, 'Alaska'), ('Modi', 45, 'New York'))
       Age        Home
Name
Biden   95     Alabama
Putin   47  New Jersey
Trump   63      Alaska
Modi    45    New York