In [116]:
import pandas as pd

In [117]:
data = pd.read_csv('pokemon.csv')
df = pd.DataFrame(data)
df.set_index('#',inplace=True)
print(df.head())

                    Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
#
1              Bulbasaur  Grass  Poison  45      49       49       65
2                Ivysaur  Grass  Poison  60      62       63       80
3               Venusaur  Grass  Poison  80      82       83      100
3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
#
1       65     45           1      False
2       80     60           1      False
3      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [118]:
print(df['Type 2'] == 'Poison')
print(df.loc[4])

#
1       True
2       True
3       True
3       True
4      False
       ...
719    False
719    False
720    False
720    False
721    False
Name: Type 2, Length: 800, dtype: bool
Name          Charmander
Type 1              Fire
Type 2               NaN
HP                    39
Attack                52
Defense               43
Sp. Atk               60
Sp. Def               50
Speed                 65
Generation             1
Legendary          False
Name: 4, dtype: object

In [119]:
#accessing columns and manipulating them
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
print(df.head(3))

        Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
#
1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
2    Ivysaur  Grass  Poison  60      62       63       80       80     60
3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary  Total
#
1           1      False    318
2           1      False    405
3           1      False    525

In [120]:
print(df.sort_values(by = 'Total'))

                      Name   Type 1    Type 2   HP  Attack  Defense  Sp. Atk  \
#
191                Sunkern    Grass       NaN   30      30       30       30
298                Azurill   Normal     Fairy   50      20       40       20
401              Kricketot      Bug       NaN   37      25       41       25
265                Wurmple      Bug       NaN   45      45       35       20
13                  Weedle      Bug    Poison   40      35       30       20
..                     ...      ...       ...  ...     ...      ...      ...
383  GroudonPrimal Groudon   Ground      Fire  100     180      160      150
382    KyogrePrimal Kyogre    Water       NaN  100     150       90      180
150    MewtwoMega Mewtwo Y  Psychic       NaN  106     150       70      194
384  RayquazaMega Rayquaza   Dragon    Flying  105     180      100      180
150    MewtwoMega Mewtwo X  Psychic  Fighting  106     190      100      154

     Sp. Def  Speed  Generation  Legendary  Total
#
191       30     30           2      False    180
298       40     20           3      False    190
401       41     25           4      False    194
265       30     20           3      False    195
13        20     50           1      False    195
..       ...    ...         ...        ...    ...
383       90     90           3       True    770
382      160     90           3       True    770
150      120    140           1       True    780
384      100    115           3       True    780
150      100    130           1       True    780

[800 rows x 12 columns]

In [121]:
print(df[['HP','Attack', 'Total']])

     HP  Attack  Total
#
1    45      49    318
2    60      62    405
3    80      82    525
3    80     100    625
4    39      52    309
..   ..     ...    ...
719  50     100    600
719  50     160    700
720  80     110    600
720  80     160    680
721  80     110    600

[800 rows x 3 columns]

In [122]:
print(df.columns.values) # returns the column labels of datafrane df
print(df.index.values) # returns the row labels of datafrane df

['Name' 'Type 1' 'Type 2' 'HP' 'Attack' 'Defense' 'Sp. Atk' 'Sp. Def'
 'Speed' 'Generation' 'Legendary' 'Total']
[  1   2   3   3   4   5   6   6   6   7   8   9   9  10  11  12  13  14
  15  15  16  17  18  18  19  20  21  22  23  24  25  26  27  28  29  30
  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48
  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  65
  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  80  81  82
  83  84  85  86  87  88  89  90  91  92  93  94  94  95  96  97  98  99
 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 115 116
 117 118 119 120 121 122 123 124 125 126 127 127 128 129 130 130 131 132
 133 134 135 136 137 138 139 140 141 142 142 143 144 145 146 147 148 149
 150 150 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165
 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 181 182
 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200
 201 202 203 204 205 206 207 208 208 209 210 211 212 212 213 214 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 229 230 231 232
 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 248 249
 250 251 252 253 254 254 255 256 257 257 258 259 260 260 261 262 263 264
 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282
 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299
 300 301 302 302 303 303 304 305 306 306 307 308 308 309 310 310 311 312
 313 314 315 316 317 318 319 319 320 321 322 323 323 324 325 326 327 328
 329 330 331 332 333 334 334 335 336 337 338 339 340 341 342 343 344 345
 346 347 348 349 350 351 352 353 354 354 355 356 357 358 359 359 360 361
 362 362 363 364 365 366 367 368 369 370 371 372 373 373 374 375 376 376
 377 378 379 380 380 381 381 382 382 383 383 384 384 385 386 386 386 386
 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404
 405 406 407 408 409 410 411 412 413 413 413 414 415 416 417 418 419 420
 421 422 423 424 425 426 427 428 428 429 430 431 432 433 434 435 436 437
 438 439 440 441 442 443 444 445 445 446 447 448 448 449 450 451 452 453
 454 455 456 457 458 459 460 460 461 462 463 464 465 466 467 468 469 470
 471 472 473 474 475 475 476 477 478 479 479 479 479 479 479 480 481 482
 483 484 485 486 487 487 488 489 490 491 492 492 493 494 495 496 497 498
 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516
 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531 531 532 533
 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549 550 551
 552 553 554 555 555 556 557 558 559 560 561 562 563 564 565 566 567 568
 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586
 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603 604
 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621 622
 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639 640
 641 641 642 642 643 644 645 645 646 646 646 647 647 648 648 649 650 651
 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666 667 668 669
 670 671 672 673 674 675 676 677 678 678 679 680 681 681 682 683 684 685
 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702 703
 704 705 706 707 708 709 710 710 710 710 711 711 711 711 712 713 714 715
 716 717 718 719 719 720 720 721]