In [43]:
import numpy as np
import pandas as pd

In [44]:
df = pd.DataFrame()
df['X1'] = [1,2,3,4,5,6,6,7,9,9]
df['X2'] = [5,3,6,8,1,9,5,8,9,2]
df['label'] = [1,1,0,1,0,1,0,1,0,0]
df

   X1  X2  label
0   1   5      1
1   2   3      1
2   3   6      0
3   4   8      1
4   5   1      0
5   6   9      1
6   6   5      0
7   7   8      1
8   9   9      0
9   9   2      0

In [45]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(max_depth=1)
# dt.fit(df[].reshape(10,1),df['label'].reshape(10,1))
dt.fit(df.iloc[:,0:2],df.iloc[:,2])
y_pred = dt.predict(df.iloc[:,0:2])

df['weights'] = 1 / df.shape[0]
df['y_pred'] = y_pred
df

   X1  X2  label  weights  y_pred
0   1   5      1      0.1       1
1   2   3      1      0.1       1
2   3   6      0      0.1       1
3   4   8      1      0.1       1
4   5   1      0      0.1       0
5   6   9      1      0.1       1
6   6   5      0      0.1       1
7   7   8      1      0.1       1
8   9   9      0      0.1       1
9   9   2      0      0.1       0

In [46]:
def update_row_weights(rowaaa, alpha=0.42364893019360184):        # each row is passed to this function
  if rowaaa['label'] == rowaaa['y_pred']:
    return rowaaa['weights'] * np.exp(-alpha)
  else:
    return rowaaa['weights'] * np.exp(alpha)

In [47]:
df.apply(update_row_weights,axis=1)

0    0.065465
1    0.065465
2    0.152753
3    0.065465
4    0.065465
5    0.065465
6    0.152753
7    0.065465
8    0.152753
9    0.065465
dtype: float64

In [48]:
df['updated_weights'] = df.apply(update_row_weights,axis=1) 
df

   X1  X2  label  weights  y_pred  updated_weights
0   1   5      1      0.1       1         0.065465
1   2   3      1      0.1       1         0.065465
2   3   6      0      0.1       1         0.152753
3   4   8      1      0.1       1         0.065465
4   5   1      0      0.1       0         0.065465
5   6   9      1      0.1       1         0.065465
6   6   5      0      0.1       1         0.152753
7   7   8      1      0.1       1         0.065465
8   9   9      0      0.1       1         0.152753
9   9   2      0      0.1       0         0.065465