In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('titanic.csv')
df.shape

(891, 12)

In [17]:
df.dropna().shape   # how=any drops the row with any one column having NaN value

(183, 12)

In [18]:
df.dropna(how='all').shape

(891, 12)

In [19]:
df.dropna(axis=1).shape

(891, 9)

In [21]:
df.dropna(subset=['Cabin']).shape

(204, 12)

In [22]:
df.dropna(subset=['Embarked']).shape

(889, 12)

In [23]:
df.dropna(subset=['Age']).shape

(714, 12)